<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">750</p>
                <h4>Seyahat Tur Sayısı</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">2500</p>
                <h4>Mutlu Müşteriler</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">12</p>
                <h4>Yurt Dışı Turlar</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">21</p>
                <h4>Yurt İçi Turlar</h4>
            </div>
        </div>
    </div>
</section>